<settings>
  <lang>ru</lang>
  <style>default</style>
  <pos_X>-8</pos_X>
  <pos_Y>-8</pos_Y>
  <pos_W>1382</pos_W>
  <pos_H>744</pos_H>
  <GamePath>D:\Games\D2PolskiyModRus</GamePath>
  <SavedPaths>;E:\Игры\Installed\D2 Nazar - Lobby;E:\Игры\Installed\D2 Nazar - Ледяное Сердце;D:\Games\D2PolskiyModRus</SavedPaths>
  <creator_mode>True</creator_mode>
  <export_txt_in_one_file>False</export_txt_in_one_file>
</settings>